/* ---------- TITLES ---------- */
.h0 {
  font-size: calc(var(--font-heading-scale) * 3rem);
  text-align: center;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: calc(var(--font-heading-scale) * 2rem);
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}





/* ----------   QUICK ADD TO CART ---------- */
.quick-add button {
  font-size: 13px;
  min-height: 40px;
}

.quick-add--overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0 1rem 1rem;
  z-index: 2;
  pointer-events: none;
}

.quick-add--overlay .quick-add__submit {
  pointer-events: auto;
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;
  padding: 0;
  border-radius: 50%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content.no-grid{
  display: flex;
}
.card__content.no-grid a.full-unstyled-link{
  width: 100%;
  height:100%;
}

.card--standard .card__heading a:after{
  content: none;
}

.quick-add-modal__content-info .breadcrumb{
      display: none;
    }

.quick-add-modal__content-info .icon-with-text{
      display: none;
}

.quick-add-modal__content-info .product__view-details{
    text-align: center;
}

@media screen and (max-width: 749px) {
  
    .quick-add-modal__content-info .product__title{
      display: none;
    }

    .quick-add-modal__content-info .price{
      display: none;
    }

    .quick-add-modal__content-info .form__label{
      display: none;
    }
    
}




/* ---------- COMUN ---------- */
.product__tax {
  display: none;
}

.grid__item {
  margin-bottom: 20px;
}

.breadcrumb {
  padding-left: 0px;
  padding-top: 10px;
}

.breadcrumb a {
  font-size: 12px;
}





/* ---------- HEADER ---------- */
.header a {
  text-transform: uppercase;
}

.header .list-menu__item {
  line-height: 40px;
}





/* ---------- FOOTER ---------- */
footer footer-slider .slider {
    max-height: 50vh;
    margin: 0;
    text-align: center;
}

footer footer-slider .slider li img {
  height: 100%;
  width: auto;
}

@media screen and (max-width: 749px) {
  footer footer-slider .slider li img {
      height: auto;
      width: 100%;
      padding: 1%;
  }

  .footer footer-slider .slider.grid {
      display: flex;
  }

}

@media screen and (min-width: 749px) {
  footer .slider-buttons{
    padding-bottom: 40px;
  }

  footer .footer__blocks-wrapper{
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
  }

}




/* ---------- HOME ---------- */
@media screen and (max-width: 749px) {
  #shopify-section-template--24554824466808__image_banner .banner--large:not(.banner--mobile-bottom):not(.banner--adapt)
    .banner__content {
    min-height: 50vh;
  }
}

#shopify-section-template--24554824466808__image_banner .banner__content {
  align-items: flex-end;
  padding: 3rem;
}

#shopify-section-template--24554824466808__image_banner .banner__box .banner__heading {
  color: white;
  font-weight: 300;
}
#shopify-section-template--24554824466808__image_banner .banner__box .banner__text {
  color: white;
}

@media screen and (max-width: 768px) {
  #shopify-section-template--24554824466808__image_banner .banner__box .banner__heading {
    font-size: 16px;
  }
  #shopify-section-template--24554824466808__image_banner .banner__box .banner__text {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  #shopify-section-template--24554824466808__image_banner .banner__box .banner__heading {
    font-size: 25px;
  }
  #shopify-section-template--24554824466808__image_banner .banner__box .banner__text {
    font-size: 40px;
  }
}

#shopify-section-template--24554824466808__image_banner .button{
    font-weight: 600;
}

/* Featured Products */
#shopify-section-template--24554824466808__featured_collection .collection .slider-buttons {
  display: none;
}

/* Collections */
#shopify-section-template--24554824466808__collection_list_mximwp .title-wrapper-with-link {
  display: inherit;
}

#shopify-section-template--24554824466808__collection_list_mximwp a {
  font-weight: 400;
}






/* ---------- FdP ---------- */
.product .thumbnail-list__item.slider__slide {
  width: calc(20% - 0.6rem);
}

.product .product__info-container .price, .product__info-container .icon-with-text, .product__info-container .product-form__input  {
  text-align: center;
}

.product .product__info-container .product-form__input label  {
    margin: 3px 2px !important;
    padding: 10px 15px !important;

}

.product .icon-with-text .svg-wrapper {
  height: 16px;
  min-height: 16px;
}

.product .icon-with-text .h4 {
  font-size: 12px;
}

.product .icon-with-text--vertical .icon-with-text__item {
  display: inherit;
  margin-bottom: 0px;
}

.product .h4{
  font-weight: 400;
}





/* ---------- CART ---------- */
#shopify-section-template--24554824434040__cart-items .underlined-link {
  font-size: 12px;
}

.quick-add .button:after, .quick-add .shopify-challenge__button:after, 
.quick-add .customer button:after, .quick-add .shopify-payment-button__button--unbranded:after{
  box-shadow: none;
}